<footer>
    <h3>Sobre Nosotros</h3>
    <p>Somos una tienda virtual dedicada a ofrecer licores de alta calidad a precios competitivos.</p>
    <h4>Síguenos</h4>
    <div class="social-icons">
        <a href="https://www.facebook.com/licorsureno"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/licores_sureno_ec/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
</footer>
