<footer class="text-white py-4">
    <div class="container">
        <!-- Row principal -->
        <div class="row text-center mb-3">
            <div class="col-12">
                <h3>Sobre Nosotros</h3>
                <p class="mb-2">Somos una empresa dedicada a ofrecer licores de alta calidad a precios ascesibles para todo el público.</p>
            </div>
        </div>
        
        <!-- Row para información de contacto y redes sociales -->
        <div class="row justify-content-center">
            <!-- Columna de información de contacto -->
            <div class="col-md-5 text-center mb-2 mb-md-0 me-md-5">
                <h4 class="h5 mb-2">Información de Contacto</h4>
                <p class="mb-1"><i class="fa-solid fa-envelope me-2"></i>ventas@licorsureno.com</p>
                <p class="mb-1"><i class="fa-solid fa-location-dot me-2"></i>Avenida Maldonado S29-106, Quito</p>
                <p class="mb-1"><i class="fa-solid fa-phone me-2"></i>+593967967369</p>
            </div>
            
            <!-- Columna de redes sociales -->
            <div class="col-md-4 text-center ms-md-5">
                <h4 class="h5 mb-2">Síguenos</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/licorsureno" class="me-3">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/licores_sureno_ec/" class="me-3">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.tiktok.com/@licores_sureno?lang=es" class="me-3">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>