:root {
    /* Color Palette */
    --cafe: #5e422e;       /* Rich brown */
    --beige: #f5f1dc;         /* Soft beige */
    --celeste: #8FC1D4;       /* Sky blue */
    --p-color: rgba(36, 36, 36, 0.842);
}

.h-confirmation {
    color: var(--cafe);
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
}

.p-confirmation {
    color: var(--p-color);
    font-size: 1rem;
}

.footer-box p {
    color: var(--p-color);
    font-weight: bold;
}

.btn-confirmation{
    padding: 0 3rem;
}

.carousel-inner img {
    max-height: 300px;
    object-fit: contain;
}
