:root {
    --bg-color: #FFFFFF;
    --text-color: #4E342E;
    --link-color: #6F4E37;
    --input-border: #000000;
    --button-bg: #906243;
    --button-text: #FFFFFF;
    --button-hover-bg: #fc894f;
    --info-bg: #87CEEB;
    --info-text: #4E342E;
    --icon-bg: #f5f1dc;
    --icon-text: #0b0808;
    --form-bg: #f5f1dc;
    --form-text-bg: #4E342E;
    --map-bg: #333333;
}
body.dark-mode {
    --bg-color: #1E1E1E;
    --text-color: #FFFFFF;
    --link-color: #FFFFFF;
    --input-border:#000000;
    --button-bg: #906243;
    --button-text: white;
    --button-hover-bg: #fc894f;
    --info-bg: #2e5c63;
    --info-text: white;
    --icon-bg: #6f4e37;
    --icon-text: #FFFFFF;
    --form-bg: rgb(95, 68, 52);
    --form-text-bg: white;
    --map-bg: #333333;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.card.p-1.shadow {
    background-color: var(--form-bg);
    color: var(--form-text-bg);
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.text-center {
    text-align: center;
}
.col-md-6.mb-3 input{
    border: 1px solid var(--input-border);
}
.mb-3 textarea {
    border: 1px solid var(--input-border);
}
.text-center button[type="submit"]{
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
}
.text-center button[type="submit"]:hover {
    background-color: var(--button-hover-bg);
}
.card.p-2.shadow {
    background-color: var(--info-bg);
    color: var(--info-text);
}
.list-unstyled i {
    color: var(--icon-text); 
    background-color: var(--icon-bg); 
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.text-center a i {
    background-color: var(--icon-bg);
    color: var(--icon-text);
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.text-center a:hover i {
    background-color: var(--button-hover-bg);
}
.card.p-3.shadow {
    background-color: var(--map-bg);
    border-radius: 10px;
}

