{% extends "base.html" %} 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
<section class="phrase-container">
  <div class="phrase-info">
    <p>
      En cada botella de Sureño, destilamos tradición, pasión y el sabor de lo
      auténtico, para que cada momento se convierta en una experiencia única.
    </p>
  </div>
</section>
<section id="aboutUs">
  <div class="section history">
    <img src="{{ url_for('static', filename='img/history.jpg') }}" alt="history"/>
    <div class="aboutUs-information">
      <div class="center-information">
        <h2>Nuestra Historia</h2>
        <p>
          El 22 de mayo del año 1998 nace la idea de formar una pequeña industria en el 
          sur de la ciudad de Quito llamado <strong>SUREÑO</strong> desarrollándose al 
          principio artesanalmente, con el transcurso del tiempo a evolucionado como 
          micro empresa cumpliendo siempre con las normas establecidas INEN.<br>
          Bajo procesos controlado por el ARCSA, maximizando la satisfacción de nuestros 
          clientes y de todos los que conformamos la familia SUREÑO para cada día ir 
          superando y ponernos a las exigencias de nuestros clientes.
        </p>
      </div>
    </div>
  </div>

  <div class="section mission-vision">
    <div class="aboutUs-information mission">
        <div class="center-information">
            <h2>Misión</h2>
            <p>
                Producir y comercializar licores con los más altos estándares de calidad para 
                satisfacer a los clientes y consumidores generando experiencia en nuestros clientes 
                permitiéndonos acompañarlos en sus momentos más importantes desarrollando un equipo 
                humano, técnico y sostenible.
            </p>
        </div>
    </div>
    <div class="aboutUs-information vision">
        <div class="center-information">
            <h2>Visión</h2>
            <p>
                Para los años venideros como empresa tenemos la visión de ampliar la participación 
                en el mercado nacional e incursionar en el mercado internacional, satisfaciendo sus 
                expectativas con la más alta responsabilidad social empresarial, a través del mejoramiento 
                continuo e innovación del portafolio de productos gestionando el máximo beneficio para 
                nuestros trabajadores, proveedores y la sociedad en general.
            </p>
        </div>
    </div>
  </div>


  <div class="section show-products">
    <div class="center-information">
      <h2>Nuestros Productos</h2>
      <p>Ofrecemos una variedad de bebidas espirituosas:</p>
      <ul>
        <li><strong>Vinos:</strong> Elegantes y de sabor refinado.</li>
        <li><strong>Whisky:</strong> Perfectamente añejados.</li>
        <li><strong>Vodka:</strong> Destilados con pureza excepcional.</li>
        <li><strong>Aguardiente:</strong> Tradicional y auténtico.</li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
