<link rel="stylesheet" href="{{url_for('static', filename='css/cart.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> {% extends "base.html" %} {% block content %}


<div class="container">
    <div class="cart-box">
        <h1>Carrito de Compras</h1>
        <div id="cart-items"></div>
        <hr>
        <div class="total-box">
            <h3>Total:</h3>
            <span id="total-price">$0.00</span>
        </div>
        <a href="CheckOut.html" class="btn btn-1">Finalizar Compra</a>
    </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}