{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<section class="banner container-fluid p-0">
    <div class="content-banner text-center text-white py-5">
        <div class="container">
            <div class="typewriter">
                <p class="mb-3 banner-subtitle">Calidad en tu paladar</p>
            </div>
            <br><br>
            <h2 class="display-4 mb-4 banner-title animate__animated animate__zoomIn">100% Natural <br>Licor de excelencia</h2>
            <a href="api/products" class="btn btn-1 animate__animated animate__slideInUp">Comprar Ahora <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>

<div class="services">
    <div class="services-content container">
        <h2 class="site-title animate__animated animate__slideInUp">¿Te gustaría saber más de nosotros?</h2>
        <div class="services-group">
            <div class="services-1 animate__animated animate__slideInUp">
                <img src="./static/img/Elaboracion.png" alt="">
                <h3>Elaboración</h3>
            </div>
            <div class="services-1 animate__animated animate__slideInUp">
                <img src="./static/img/Fabricantes.png" alt="">
                <h3>Fabricantes</h3>
            </div>
            <div class="services-1 animate__animated animate__slideInUp">
                <img src="./static/img/producto.png" alt="">
                <h3>Productos</h3>
            </div>
        </div>
        <p>
            En una pequeña esquina de la ciudad, donde las luces tintinean 
            y el aroma de los buenos momentos flota en el aire, se encuentra 
            <em>"SUREÑO"</em>, la tienda de licores que transforma cualquier ocasión 
            en una experiencia inolvidable.
        </p>
        <a href="about" class="btn btn-1">Información <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</div>
<section class="gallery container my-5">
    <div class="row g-3 justify-content-center">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="https://www.tiktok.com/@licores_sureno/video/7468359868882144517?is_from_webapp=1&sender_device=pc&web_id=7469989401159828997" target="_blank">
                <img src="{{ url_for('static', filename='img/inicio_cocktailVodka.png') }}" class="img-fluid rounded shadow w-100" style="aspect-ratio: 9 / 16; object-fit: cover;" alt="Galería 2">
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="https://www.tiktok.com/@licores_sureno/video/7462399324262042885?is_from_webapp=1&sender_device=pc&web_id=7469989401159828997" target="_blank">
                <img src="{{ url_for('static', filename='img/inicio_ron.png') }}" class="img-fluid rounded shadow w-100" style="aspect-ratio: 9 / 16; object-fit: cover;" alt="Galería 5">
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="https://www.tiktok.com/@licores_sureno/video/7468369739534978310?is_from_webapp=1&sender_device=pc&web_id=7469989401159828997" target="_blank">
                <img src="{{ url_for('static', filename='img/inicio_cannabis.png') }}" class="img-fluid rounded shadow w-100" style="aspect-ratio: 9 / 16; object-fit: cover;" alt="Galería 3">
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="https://www.tiktok.com/@licores_sureno/video/7465379561966980358?is_from_webapp=1&sender_device=pc&web_id=7469989401159828997}" target="_blank">
                <img src="{{ url_for('static', filename='img/inicio_tragos.png') }}" class="img-fluid rounded shadow w-100" style="aspect-ratio: 9 / 16; object-fit: cover;" alt="Galería 4">
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="https://www.tiktok.com/@licores_sureno/video/7462404536716512517?is_from_webapp=1&sender_device=pc&web_id=7469989401159828997" target="_blank">
                <img src="{{ url_for('static', filename='img/inicio_blueVodka.png') }}" class="img-fluid rounded shadow w-100" style="aspect-ratio: 9 / 16; object-fit: cover;" alt="Galería 1">
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <a href="{{ url_for('static', filename='img/inicio_promo.png') }}" target="_blank">
                <img src="{{ url_for('static', filename='img/inicio_promo.png') }}" class="img-fluid rounded shadow w-100" style="aspect-ratio: 9 / 16; object-fit: cover;" alt="Galería 6">
            </a>
        </div>
        
    </div>
</section>

{% endblock %}
